pyrogram==2.0.106
pytgcalls==3.0.0
yt-dlp==2021.12.17  # Replacing youtube-dl with yt-dlp
ffmpeg-python==0.2.0

# Additional useful dependencies:
aiofiles
aiohttp
asyncio
dnspython
httpx[http2]
psutil
python-dotenv
requests
tgcrypto
urllib3
